{% extends 'base.html.twig' %}

{% block title %}Bestiaire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Editer monstre</h1>

    <div class="card-element">

    </div>

{% endblock %}
