{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Magasin</h1>
    <div class="card-element">

        <a href="{{ path('app_stuff_lister') }}">
            <div class="card card-size">
                <img src="{{ asset('images/magasin2.png') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Magasin</h5>
                    <p class="card-text">Armes, Armures, Équipement général, Composants d'alchimie, Outils...</p>
                </div>
            </div>
        </a>

    </div>
{% endblock %}
