@import "variables.scss";
//#region Accordion
.accordion-color{
  background-color: $font
}
.accordion-button{
  color: $text;
  background: linear-gradient(to left bottom, $menu, $menu-2);
  background: -webkit-linear-gradient(to left bottom, $menu, $menu-2);
}
//#endregion Accordion
