@import '~bootstrap/scss/bootstrap';
@import "variables.scss";

body {
    background-color: $font;
    color: $text;
    & h1 {
        text-align: center;
    }

    & a {
        text-decoration: none;
    }
    & header {
        height: 90px;
        display: block;
        padding: 20px 20px;
        background-color: $menu;
        color: $text ;

        & a {
            text-decoration: none;
            color: $text;
        }
        & a.active {
            font-weight: bold;
        }

    }
    & main {
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 30px;
        display: block;
    }
    & footer {
        padding-top: 50px;
        bottom: 0;
        width: 100%;
        display: block;
    }
}

.titre-logo {
    display: flex; /* Utiliser Flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Aligner les éléments verticalement au centre */
    justify-content: center; /* Centrer horizontalement le contenu */
}

.titre-logo .logo {
    margin: 10px; /* Espacement entre les images et le texte */
}

//#region Entête & pied de page
.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}
.dropdown{
    list-style-type: none;
    background-color: $menu;
    color: $text ;
}

.logo {
    display: flex;
    align-items: center;
    height: 60px;
    width: auto;
}
 .menu{
     background-color: $menu;
     color: $text ;
 }
.pied-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    list-style: none;
}
//#endregion Entête & pied de page

//#region Card
.card-size{
    width: 18rem
}
.card-body{
    background-color: $font-2;
    color: $text;
}
.card-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: start ;
    gap: 10px 30px;
    margin: 1em auto;
    width: 95%;
}
//#endregion Card

//#region Form
.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.fond-image{
    background-color: $font-2;
}

@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}
//#endregion Form
