{% extends 'base.html.twig' %}

{% block title %}Hello ArmeController!{% endblock %}

{% block body %}

    <section class="admin_body_container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Épées
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Dégats</th>
                                <th scope="col">Mains</th>
                                <th scope="col">Portée</th>
                                <th scope="col">Effets</th>
                                <th scope="col">Poids</th>
                                <th scope="col">Taille</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Épée de chevalier</td>
                                    <td>2d6+4</td>
                                    <td>1</td>
                                    <td>Corps à corps</td>
                                    <td></td>
                                    <td>2.5</td>
                                    <td>270</td>
                                </tr>
                                <tr>
                                    <td>Torrwr</td>
                                    <td>6d6</td>
                                    <td>2</td>
                                    <td>Corps à corps</td>
                                    <td>Saignement 50%</td>
                                    <td>2</td>
                                    <td>1075</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
