{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Les indédiant & Alchimie</h1>

{% endblock %}